body{
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
}

img{
    max-width: 100%;
}

a{
    color: red;
}

section.lista{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

section.lista div{
    padding: 5px;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: aqua;
}

section.lista div details summary{
    cursor: pointer;
    margin: 10px;
}